# pycache
__pycache__/
**.pyc
**Rplots.pdf

# raw data
data/
0.EDA/scripts/Rplots.pdf
4.mAP_analysis/data/*
3.generate_umap_and_PCA/results/*
one_off_analysis/results/*

5.bulk_timelapse_model/models/*
5.bulk_timelapse_model/results/*

6.linear_modeling/linear_models/*
6.linear_modeling/results/*
6.linear_modeling/scripts/Rplots.pdf
6.linear_modeling/notebooks/VennDiagram*.log*
7.sc_timelapse_model/results/*
7.sc_timelapse_model/models/*
figures/montages/figures/*
